<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822353499363-tf4jimnmthrgrs8uag8nh1gfi7gn4g8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822353499363-tf4jimnmthrgrs8uag8nh1gfi7gn4g8e</string>
	<key>API_KEY</key>
	<string>AIzaSyAIDGukZgpHRQAFWE1ZtsmV7gM4sQhI1IM</string>
	<key>GCM_SENDER_ID</key>
	<string>822353499363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>assess-test-db349</string>
	<key>STORAGE_BUCKET</key>
	<string>assess-test-db349.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822353499363:ios:4994b31aa423710db921d6</string>
</dict>
</plist>